<div>
  <form>
    <div>
      <section>
        <label>
          Id
        </label>
        <input  type="text" >
      </section>

      <section>
        <label>
          Descripcion
        </label>
        <input  type="text" >
      </section>

      <section>
        <label>
          Fecha de liberacion
        </label>
        <input  type="date" >
      </section>
    </div>
    <div>
      <section>
        <label>
          Nombre
        </label>
        <input  type="text" >
      </section>

      <section>
        <label>
          Logo
        </label>
        <input  type="text" >
      </section>

      <section>
        <label>
          Fecha de revision
        </label>
        <input  type="date" >
      </section>
    </div>
  </form>

  <section>
    <button>Reiniciar</button>
    <button>Enviar</button>
  </section>

</div>
