
<div class="financierosContainer">
    <div class="searchContainer">
      <input  class="searchInput"   type="text" placeholder="Search..."/>

      <button class="searchButton">
        Agregar
      </button>

    </div>
    <div class="listContainer">
        <table class="tableList">
          <thead>
            <tr>
              <th>Logo</th>
              <th>Nombre del producto</th>
              <th>Descripcion</th>
              <th>Fecha de liberacion</th>
              <th>Fecha de reestructuracion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>TEST</td>
              <td>TEST</td>
              <td>TEST</td>
              <td>TEST</td>
              <td>TEST</td>
              <button class="contextualButton">...</button>
            </tr>
          </tbody>
        </table>
        <div class="fiancierosFooter">

            <p>5 Resultados</p>

            <select class="financierosSelect">
              <option>
                5
              </option>
            </select>
        </div>
    </div>
</div>
